<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Dashboard</title>
	{% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="{% static 'wall/style.css' %}" media="screen" title="no title" charset="utf-8">
	
	<link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
	<script type="text/javascript">
		$(document).ready(function() {
			$( "tr:odd" ).css( "background-color", "rgb(185, 176, 149)" );
		});

	</script>
</head>
<body>

	<nav class="navbar navbar-default navbar-expand-lg">
		<a class="navbar-brand logo" href="#">The Wall</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="">Dashboard</a>
			</li>
			<li class="nav-item">
					<a class="nav-item nav-link" href="../users/show/{{ request.session.user_id }}">Profile</a>
			</li>
		</ul>
			<span class="navbar-text">
				<a class="nav-item nav-link" href="/logoff">Log off</a>
			</span>
		</div>
	</nav>

	<div class="container-fluid welcome large-div">
		<h3 class="title">Manage Users</h3>
		<a href="../users/new"><button class="btn btn-outline-light">Add new</button></a>
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>name</th>
					<th>email</th>
					<th>created_at</th>
					<th>user_level</th>
					<th>actions</th>
				</tr>
			</thead>
			{% for user in users %}
			</tbody>
				<tr>
					<td>{{ user.id }}</td>
					<td><a class="light-link" href="../users/show/{{ user.id }}">{{ user.first_name}} {{ user.last_name }}</a></td>
					<td>{{ user.email }}</td>
					<td>{{ user.created_at }}</td>
					<td>
						{% if user.user_level == 9 %}
							admin
						{% else %}
							normal
						{% endif %}
					</td>
					<td>
						<a class="light-link" href="../users/edit/{{ user.id }}">edit</a> |
						{% if user.id == 1 %}
							<a class="light-link" href="" onclick="return confirm('Sorry, you cannot remove this user')">remove</a>
						{% else %}
							<a class="light-link" href="../users/{{ user.id }}/destroy" onclick="return confirm('Are you sure?')">remove</a>
						{% endif %}
					</td>
				</tr>
			</tbody>
			
		{% endfor %}
		</table>
	</div>
</body>
</html>