<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Dashboard</title>
	{% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="{% static 'wall/style.css' %}" media="screen" title="no title" charset="utf-8">

	<link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
	<script type="text/javascript">

		$(window).scroll(function() {
			sessionStorage.scrollTop = $(this).scrollTop();
			});

			$(document).ready(function() {
			if (sessionStorage.scrollTop != "undefined") {
				$(window).scrollTop(sessionStorage.scrollTop);
			}
		});
	</script>

</head>
<body>

	<nav class="navbar navbar-default navbar-expand-lg">
		<a class="navbar-brand logo" href="#">The Wall</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				{% if request.session.user_id == 1 %}
					<a class="nav-link" href="../../dashboard/admin">Dashboard</a>
				{% else %}
					<a class="nav-link" href="../../dashboard">Dashboard</a>
				{% endif %}
			</li>
			<li class="nav-item">
					<a class="nav-link" href="../show/{{request.session.user_id}}">Profile</a>
			</li>
		</ul>
			<span class="navbar-text">
				<a class="nav-item nav-link" href="/logoff">Log off</a>
			</span>
		</div>
	</nav>

		<div class="container-fluid welcome large-div">

			<h3 class><span class="title">{{ user.first_name }} </span>
				{% if user.id == request.session.user_id %}
					<a href="../edit/{{user.id}}"><button class="btn btn-outline-light add-margin-left">Edit</button></a>
				{% endif %}
			</h3>

			
			<p class="user-details">Registered at: {{ user.created_at }}</p>
			<p class="user-details">User ID: #{{ user.id }}</p>
			<p class="user-details">Email address: {{ user.email }}</p>
			<p class="user-details">Description: {{ user.desc }}</p>
	
			<h5 class="add-margin-top">Leave a message for {{ user.first_name }}</h5>
			<form action="../post_message/{{ user.id }}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="logged_in_user" value="{{ request.session.user_id }}">
				<input type="hidden" name="id" value="{{ user.id }}">
				<textarea class="post_message" name="message"></textarea>
				<p><button type="submit" class="btn btn-outline-light">Post</button></p>
			</form>

			{% if messages %}
				{% for message in messages %}
					<p class="message">{{ message }}</p>
				{% endfor %}
			{% endif %}

		</div>


			{% for message in user_messages %}
				{% if message.user_id == user.id %}
					{% for author in authors %}
						{% if author.id == message.author_id %}
							<div class="container-fluid large-div">
								<p class="message-author">{{author.first_name}} wrote:</p>
								<div class="profile-message">
									<h4>{{message.text}}</h4>
								</div>
								<p>{{message.created_at}}</p>
							</div>

			{% for comment in comments %}
				{% if comment.message_id == message.id %}
				<div class="row">
					<div class="col"></div>
					<div class="col comment-right">
						{% for author in authors %}
							{% if author.id == comment.commenter_id %}
								<h6 class="message-author right-text">{{author.first_name}} wrote:</h6>
							{% endif %}
						{% endfor %}
						<div class="comment-container">
							<h5>{{comment.text}}</h5>
						</div>
						<p class="right-text">{{comment.created_at}}</p>
					
					</div>
				</div>
				{% endif %}
			{% endfor %}


			<div class="row">
				<div class="col"></div>
				<div class="col">
					<h6 class="right-text">Leave a comment for {{ author.first_name }}</h6>
					<form action="../post_comment/{{ user.id }}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="logged_in_user" value="{{ request.session.user_id }}">
						<input type="hidden" name="id" value="{{ message.id }}">
						<textarea class="post_comment" name="message"></textarea>
						<p class="right-text"><button type="submit" class="btn btn-outline-light">Comment</button></p>
					</form>

					{% if messages %}
						{% for message in messages %}
							<p class="message">{{ message }}</p>
						{% endfor %}
					{% endif %}

				</div>
			</div>



					{% endif %}
				{% endfor %}
				{% endif %}

			
			{% endfor %}
			

		


</body>
</html>